{% extends "base.html" %}

{% block content %}
    <table border="1">
        <caption>Список студентов группы {{ group.name }}</caption>
        <tr>
            <th>ФИО</th>
            <th>Дата рождения</th>
            <th>Номер студ. билета</th>
            <th></th>
            <th></th>
        </tr>
        {% for student in group.student_set.all %}
            <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.birth_day }}</td>
            <td>{{ student.ticket_number }}</td>
            <td><a href="{% url 'edit_student' student.pk %}">Редактировать</a></td>
            <td><a href="{% url 'delete_student' student.pk %}">Удалить</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'create_student' %}">Добавить студента</a>
{% endblock %}