{% extends "base.html" %}

{% block content %}
    <table border="1">
        <caption>Список групп студентов</caption>
        <tr>
            <th>Группа</th>
            <th>Кол-во студентов</th>
            <th>Староста</th>
            <th></th>
            <th></th>
        </tr>
        {%  for group in object_list %}
            <tr>
            <td><a href="{% url 'detail_group' group.pk %}">{{ group.name }}</a></td>
            <td>{{ group.student_set.all.count }}</td>
            <td>{{ group.starosta }}</td>
            <td><a href="{% url 'edit_group' group.pk %}">Редактировать</a></td>
            <td><a href="{% url 'delete_group' group.id %}">Удалить</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'create_group' %}">Создать группу</a>
{% endblock %}